@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;

        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;

        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;

        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;

        --råsa: 345 86% 97%;
        --råsa-foreground: 341 76% 60%;
        --råsa-accent: 347 85% 95%;
        --råsa-border: 343 84% 90%;
        --råsa-true: 343 81% 73%;

        --lila: 270 60% 97%;
        --lila-foreground: 269 56% 65%;
        --lila-accent: 268 65% 95%;
        --lila-border: 265 62% 92%;
        --lila-true: 270 50% 60%;

        --destructive: 0 86% 97%;
        --destructive-foreground: 0 84% 60%;
        --destructive-accent: 0 93% 94%;
        --destructive-border: 0 96% 89%;

        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;

        --ring: 343 81% 73%;

        --radius: 0.5rem;

        --sidebar-background: 0 0% 100%;
        --sidebar-foreground: 240 10% 3.9%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 240 5.9% 90%;
        --sidebar-ring: 343 81% 73%;
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;

        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;

        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;

        --råsa: 334 76% 10%;
        --råsa-accent: 334 75% 16%;
        --råsa-border: 335 68% 35%;

        --lila: 273 54% 12%;
        --lila-accent: 273 53% 21%;
        --lila-border: 271 41% 39%;

        --destructive: 0 75% 12%;
        --destructive-accent: 0 63% 20%;
        --destructive-border: 0 70% 35%;

        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;

        --ring: 270 50% 60%;

        --sidebar-background: 240 10% 3.9%;
        --sidebar-foreground: 0 0% 98%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 270 50% 60%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    ::selection {
        color: hsl(var(--background));
        background: hsl(var(--råsa-true));
    }
}
